
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* ------------Шрифт--------------- */
@font-face {
	font-family: "retro";
	src: url("../fonts/19783.eot");
	src: url("../fonts/19783.eot?#iefix") format("embedded-opentype"),
	  url("../fonts/19783.woff") format("woff"),
	  url("../fonts/19783.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
/* -------------------------- */
h1 {
	font-family: retro;
	color: rgb(85, 175, 20);
	font-size: 45px;
}
body {
	background-color: black;
}

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("../img/board2.jpg") no-repeat top center;
}
div#messageArea{
	position: absolute;
	top: 20px;
	left: 10px;
	color: rgb(85, 175, 20);
	font-size: 30px;
	font-weight: bold;
	/* font-family: retro; */
}

table{
	position: absolute;
	left: 238px;
	top: 78px;
	border-spacing: 0px;
}



td{
	width: 77px;
	height: 77px;
}

form{
	position: absolute;
	top: 10px;
	right: 0px;
	padding: 15px;
	width: 280px;
	display: flex;
	justify-content: space-between;	
}

form input{
	background-color: rgb(150, 200, 110);
	border-color: rgb(85, 175, 20);
	width: 65%;
	font-size: 20px;
	padding: 7px;
	font-weight: bold;
}

#fireButton {
	width: 25%;
	background-color: rgb(96, 179, 28);
	border-radius: 5px;
}
#fireButton:active {
box-shadow: inset 0 0 10px;
}

.hit {
	background: url("../img/ship.png") no-repeat center center;
}
.miss {
	background: url("../img/miss.png") no-repeat center center;
}

#description-button {
	color: rgb(247, 15, 15);
	position: absolute;
	top: 90px;
	left: 0px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.description {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #240505;
	color: rgb(96, 179, 28);
	padding: 160px 100px;
	transition: all 0.8s ease 0s;
	font-family: retro;
	font-size: 45px;
}

.active {
	top: 0;
}

.close {
	display: block;
    position: absolute;
    width: 50px;
	height: 35px;
	top: 30px;
	right: 30px;
}

.close::before,
.close::after {
	position: absolute;
    content: "";
    background: rgb(247, 15, 15);;
    width: 100%;
    height: 3px;
    left: 0;
}
.close::before {
	transform: rotate(45deg);
    top: 12px;
}

.close::after {
	transform: rotate(-45deg);
    bottom: 19px;
}